#calculadora table {
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
    background-color: gold; 
    border: 0 double black;
    font-size: 1.5625rem;
  }
  
  #calculadora tr {
    width: 100%;
    height:100%;
  }
  
  #calculadora tr td input {
    width: 100%;
    height:100%;
  }
  
  #calculadora td input:hover {
    color: #fff;
    background-color: pink;
  }
  
  #calculadora td input#tela {
    text-align: right;
  }
  
  #calculadora td input#tela:hover {
    color: #000;
    background-color: grey;
  }